DATABASE_URL=postgresql://imcollegehunt_db_user:cBn9WOTCWJbAR7GF1o85QqFjk9zMniLD@dpg-d8arqq6k1jcs7388sdpg-a.oregon-postgres.render.com/imcollegehunt_db
PORT=3000
ADMIN_API_KEY=60aecef16eac233933ccc84b99310aee1cd588b1da3f4318c90d5650d3d1a6cd
